<%= form_for(@convocation) do |f| %>
  <% if @convocation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@convocation.errors.count, "error") %> prohibited this convocation from being saved:</h2>

      <ul>
      <% @convocation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :nombre, class: 'control-label' %><br>
      <%= f.text_field :nombre, class: 'form-control' %>
    </div>
    <div class="form-group">
      <div class="form-inline"> <!-- Para que salgan en la misma linea los selects -->
        <%= f.label :fecha_inicio, "Fecha de inicio:", class: 'control-label' %><br>
        <%= f.date_select :fecha_inicio, {start_year: 1900, end_year: 2050}, {class: "form-control", layout: :inline, inline: true } %>
      </div>
    </div>

    <div class="form-group">
      <div class="form-inline"> <!-- Para que salgan en la misma linea los selects -->
        <%= f.label :fecha_limite, "Fecha límite:", class: 'control-label' %><br>
        <%= f.date_select :fecha_limite, {start_year: 1900, end_year: 2050}, {class: "form-control", layout: :inline, inline: true } %>
      </div>
    </div>
    <div class="form-group">
      <div class="actions">
        <%= f.submit "Guardar", class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
