<h1>Carga de postulantes evaluadas</h1>
<div class="form-group">
  <label for="convocation" class="control-label">Convocatoria:</label>
  <input name="convocation" type="text" value="<%= @convocation.to_s %>" class="form-control" disabled>
</div>
<div>
  <%= form_tag importar_prepostulantes_evaluados_convocation_path, multipart: true do %>
    <label class="btn btn-default btn-file">
      Elegir archivo<%= file_field_tag :file, class: 'hidden' %>
    </label>
    <%= submit_tag "Importar", class: 'btn btn-success', id: 'importar', disabled: true %>
    <span style="margin-left: 10px" id="nombre-archivo"></span>
  <% end %>
</div>