<h1>Convocatorias</h1>

<% if @error %>
  <p style="color:red"><%= @message %></p>
<% end %>

<table class="table table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th>Fecha limite</th>
      <th>Fecha inicio</th>
      <th>Nombre</th>
      <th>Estado</th>
      <th>Acciones</th>
      <th colspan="7"></th>
    </tr>
  </thead>

  <tbody>
    <% @convocations.each do |convocation| %>
      <tr>
        <td><%= convocation.fecha_limite %></td>
        <td><%= convocation.fecha_inicio %></td>
        <td><%= convocation.nombre %></td>
        <td>
        <%= badge_status(!convocation.cerrada?) %><%= convocation.estado_to_human %><span></td>
        <% if !convocation.cerrada? %>
        <td><%= link_to 'Importar pre-postulantes', carga_postulaciones_convocation_path(convocation) %></td>
        <td><%= link_to("Exportar pre-postulantes", exportar_prepostulantes_convocation_path(convocation), target: '_self') %></td>
        <td><%= link_to 'Importar pre-post. evaluados', html_prepostulantes_evaluados_convocation_path(convocation) %></td>
        
          <td><%= link_to 'Sortear', make_draw_convocation_path(convocation) %></td>
        <% end %>
        <td><%= link_to 'Mostrar', convocation %></td>
        <% if convocation.cerrada? %>
          <td><%= link_to 'Ver resultados', results_convocation_path(convocation) %></td>
        <% end %>
        <% if !convocation.cerrada? %>
          <td><%= link_to 'Editar', edit_convocation_path(convocation) %></td> 
        <% end %>
        <% if !convocation.cerrada? %>
          <td><%= link_to 'Borrar', convocation, method: :delete, data: { confirm: 'Estás seguro?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

 <!-- render page links in the view: -->
  <div class="flickr_pagination col-md-12">
    <%= will_paginate @convocations %>
  </div>
<br>

<%= link_to 'Nueva convocatoria', new_convocation_path, class: 'btn btn-default' %>
