<div class="container">
  <h1>Ejecutar sorteo</h1>

  <% if @error %>
    <p style="color:red"><%= @message %></p>
  <% end %>

  <% if @convocation  %>
    <input class="form-control" type="text" disabled value="<%= @convocation.nombre %>">
    <input type="hidden" value="<%= @convocation.id %>">
    <br>
    <%= label :organization, 'Empresa' %>
    <%= select_tag "organization", 
                    options_from_collection_for_select(Organization.all, :id, :nombre), class: 'form-control',
                    disabled: @convocation.cerrada? %>
  <% end %>
  <br>
  <button id="realizar_sorteo" class="btn btn-success" <%= "disabled" if @convocation.cerrada? %>>
    Realizar sorteo
  </button>
  <div class="row <%= "hidden" if @convocation.cerrada? %>">
    <h3>Postulaciones</h3>
    <table id="postulantes" class="table col-md-8 hidden">
      <thead>
        <tr>
          <th>Postulante</th>
          <th>Empresa</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <div id="adjudicados" class="col-md-6 hidden">
      <h2 style="color:green">Adjudicados</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Postulante</th>
            <th>Empresa</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <div id="rechazados" class="col-md-6 hidden">
      <h2 style="color:red">Rechazados</h2>
      <table class="table ">
        <thead>
          <tr>
            <th>Postulante</th>
            <th>Empresa</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
  <div style="margin-top: 10px">
    <%= link_to("Volver", convocations_path, class: 'btn btn-primary') %>
  </div>
</div>

