<div class="container">

  <div class="row">
    <% if @convocation  %>
      <h3 for="convocation">Convocatoria</h3>
      <input name="convocation" class="form-control" type="text" disabled value="<%= @convocation.nombre %>">
      <input type="hidden" value="<%= @convocation.id %>">
    <% end %>
    <br>
    <div class="pull-left">
    <a id="mail_beneficiarios" class="btn btn-success">Enviar mails a adjudicados</a>
    </div>
    <div>
      <a style="margin-left: 10px" id="mail_empresas" class="btn btn-primary">Enviar mails a empresas</a>
    </div>
  </div>

  <br>
  <div class="row">
    <div id="adjudicados" class="col-md-7 ">
      <h2 style="color:green">Adjudicados</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Postulante</th>
            <th>Empresa</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @resultados[:adjudicados].each do |a| %>
            <tr>
              <td><%= a.applicant %></td>
              <td><%= a.organization %></td>
              <td><%= link_to "Imprimir carta", carta_beneficiario_path(a), target: "_blank" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div id="rechazados" class="col-md-5 ">
      <h2 style="color:red">Rechazados</h2>
      <table class="table ">
        <thead>
          <tr>
            <th>Postulante</th>
            <th>Empresa</th>
          </tr>
        </thead>
        <tbody>
          <% @resultados[:rechazados].each do |a| %>
            <tr>
              <td><%= a.applicant %></td>
              <td><%= a.organization %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div>
      <h2 style="color:red">Empresas con adjudicaciones</h2>
      <table class="table ">
        <thead>
          <tr>
            <th>Empresa</th>
            <th>Cuit</th>
            <th>Imprimir carta</th>
          </tr>
        </thead>
        <tbody>
          <% @convocation.empresas_con_adjudicaciones.each do |org| %>
            <tr>
              <td><%= org.nombre %></td>
              <td><%= org.cuit %></td>
              <td><%= link_to "Carta" , carta_empresa_path(@convocation, org), target: '_blank' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>