<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha limite:</strong>
  <%= @convocation.fecha_limite %>
</p>

<p>
  <strong>Fecha inicio:</strong>
  <%= @convocation.fecha_inicio %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @convocation.nombre %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @convocation.estado_to_human %>
</p>


<% if @convocation.cerrada? %>
  <%= link_to 'Ver resultados', results_convocation_path(@convocation) %> | 
<% end %>
<%= link_to 'Editar', edit_convocation_path(@convocation) %> |
<%= link_to 'Volver', convocations_path %>


<h3>Postulaciones</h3>

<table class="table table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th>Apellido y nombre</th>
      <th>Empresa</th>
      <th>Estado</th>
    </tr>
  </thead>
  <tbody>
    <% @convocation.applications.each do |a| %>
      <tr>
        <td><%= a.to_s %></td>
        <td><%= a.organization %></td>
        <td><%= a.estado_to_human %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<h3>Empresas suscritas</h3>

<table class="table table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Cuit</th>
      <th>Cantidad personal</th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <tbody>
    <% @convocation.organizations.each do |org| %>
      <tr>
        <td><%= org.to_s %></td>
        <td><%= org.cuit %></td>
        <td><%= org.cantidad_personal %></td>
        <td>
          <% if @convocation.algun_beneficiario_asignado?(org) %>
            <%= link_to "Carta" , carta_empresa_path(@convocation, org), target: '_blank' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>