*{
	box-sizing:border-box;
}
body{
	font-family: Verdana;
	font-size: 10px;
	margin: 0;
	padding: 20px;
/*	background: url(../images/bg-body.png); */
}
img{
	width: 100%; /*imagenes fluidas tamaño padre*/
}
a,
a:link;
a:active;
a:hover;
a:visited{
	text-decoration: none;
	outline:none;
}
.container{
	max-width: 960px;
	margin: auto;
	border-radius: 7px;
	box-shadow: 0 0 7px #888;
}

.cabecera{
	padding: 0px 30px 10px 30px;
}

.carta{
	padding: 0px 7.3% 10px;
}

.titulo h3{
	font-size: 1.3em;
	font-weight: 700;
	text-align: center;

}

.encabezado h3{
	font-size: 1em;
	font-weight: 600;
	text-align: left;
	line-height: 0.2em;
}

.cuerpo p{
	text-align: justify;
}


