<%= form_for(@application) do |f| %>
  <% if @application.errors.any? %>
    <div class="alert fade in alert-error" id="error_explanation">
      <h2><%= pluralize(@application.errors.count, "error") %> impide que los datos sean salvados:</h2>

      <ul>
      <% @application.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group required">
    <%= f.label :convocation_id, 'Convocatoria ', for: 'convocation_id', class: 'control-label' %><br>
    <%= f.select :convocation_id, Convocation.all.collect {|u| [u.important_data, u.id]}, {selected: @application.convocation_id, prompt: 'Seleccione una convocatoria'}, class: 'form-control' %>
  </div>

  <div class="form-group required">
    <%= f.label :applicant_id, 'Postulante ', for: 'applicant_id', class: 'control-label' %><br>
    <%= f.select :applicant_id, Applicant.all.order('apellidos').collect {|u| [u.important_data, u.id]}, {selected: @application.applicant_id, prompt: 'Seleccione un postulante'}, class: 'form-control' %>
  </div>

  <div class="form-group required">
    <%= f.label :organization_id, 'Empresa ', for: 'organization_id', class: 'control-label' %><br>
    <%= f.select :organization_id, Organization.all.order('nombre').collect {|u| [u.important_data, u.id]}, {selected: @application.organization_id, prompt: 'Seleccione una empresa'}, class: 'form-control' %>
  </div>

  <div class="form-group required">
     <%= f.label :tipo_contratacion, "Modalidad de contratación ", class: 'control-label' %><br />
    <%= f.radio_button :tipo_contratacion, Application::ENTRENAMIENTO  %>
    <%= f.label :tipo_contratacion, "Entrenamiento" %><br>
    <%= f.radio_button :tipo_contratacion, Application::CTI  %>
    <%= f.label :tipo_contratacion, "CTI" %><br>
  </div>

  <div class="form-group required">
    <%= f.label :estado, "Estado postulación ", class: 'control-label' %><br>
    <% select_estado = {'PREPOSTULADO'=> 'PREPOSTULADO','EN EVALUACION'=> 'EN_EVALUACION', 'ACEPTADO'=> 'ACEPTADO', 'RECHAZADO'=> 'RECHAZADO'} %>
    <%= f.select :estado, select_estado, {selected: @application.estado, prompt: 'Seleccione un estado'}, {class: "form-control", id: 'estado_select' } %>
  </div>

  <div class="form-group">
    <div class="actions">
      <%= f.submit 'Guardar', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>