  <%= f.fields_for :applicant do |applicant| %>
    <% if @applicant.errors.any? %>
    <div class="alert fade in alert-error" id="error_explanation">
      <h2><%= pluralize(@applicant.errors.count, "error") %> impide que los datos sean salvados:</h2>

      <ul>
      <% @applicant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-md-6" >
    <div class="form-group">
      <%= applicant.label :apellidos, "Apellidos", class: 'control-label' %><br>
      <%= applicant.text_field :apellidos, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= applicant.label :nombres, "Nombres", class: 'control-label' %><br>
      <%= applicant.text_field :nombres, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= applicant.label :sexo, class: 'control-label' %><br />
      <%= applicant.label :sexo, "Varon", value: "v"  %>
      <%= applicant.radio_button :sexo, "v" %>
      <%= applicant.label :sexo, "Mujer", value: "m" %>
      <%= applicant.radio_button :sexo, "m" %>
    </div>
    <div class="form-group">
      <%= applicant.label :cuil, "CUIL (sin guiones)", class: 'control-label' %><br>
      <%= applicant.text_field :cuil, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= applicant.label :dni, "DNI (solo números)", class: 'control-label' %><br>
      <%= applicant.text_field :dni, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= applicant.label :fecha_nacimiento, for: "fecha_nacimiento" %><br>
      <div class='input-group date' id='datetimepicker1'>
        <input type='text' name="applicant[fecha_nacimiento]" value="<%= @applicant.fecha_nacimiento.to_s %>" class="form-control" />
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
  </div>
    <div class="form-group">
      <%= applicant.label :telefono, "Teléfono", class: 'control-label' %><br>
      <%= applicant.text_field :telefono, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= applicant.label :estado_civil, "Estado Civil", class: 'control-label' %><br>
      <% select_estado_civil = {'Soltero'=> 'soltero', 'Casado o conviviente'=> 'casado o conviviente', 'Viudo'=> 'viudo', 'Separado o Divorciado'=> 'separado o divorciado'} %>
      <%= applicant.select :estado_civil, select_estado_civil, {selected: @applicant.estado_civil, prompt: 'Seleccione un estado civil'}, {class: "form-control", id: 'estado_civil_select' } %>
    </div>
    <div class="form-group">
      <%= applicant.label :hijos, "Cantidad de hijos", class: 'control-label' %><br>
      <%= applicant.number_field :hijos, class: 'form-control' %>
    </div>
  </div>
  <div class="col-md-6" >
    <div class="form-group">
      <%= applicant.label :domicilio, "Domicilio", class: 'control-label' %><br>
      <%= applicant.text_field :domicilio, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= applicant.label :localidad, "Localidad", class: 'control-label' %><br>
      <%= applicant.text_field :localidad, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= applicant.label :departament_id, "Departamento", class: 'control-label' %><br>
      <%= applicant.select :departament_id, options_from_collection_for_select(Departament.all, :id, :nombre), {selected: @applicant.departament, prompt: 'Seleccione el departamento'}, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= applicant.label :codigo_postal, "", class: 'control-label' %><br>
      <%= applicant.text_field :codigo_postal, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= applicant.label :escolaridad_nivel, "Máximo nivel alcanzado", class: 'control-label' %><br>
      <% select_nivel = {'Ninguno'=> 'ninguno', 'Primario (o EGB)'=> 'primario', 'Ciclo Básico'=> 'ciclo básico', 'Secundario (Polimodal)'=> 'secundario', 'Terciario'=> 'terciario', 'Universitario'=> 'universitario'} %>
      <%= applicant.select :escolaridad_nivel, select_nivel, {selected: @applicant.escolaridad_nivel, prompt: 'Seleccione el máximo nivel de escolaridad alcanzado'}, {class: "form-control", id: 'nivel_select' } %>
    </div>
    <div class="form-group">
      <%= applicant.label :escolaridad_cursa, "Actualmente, ¿Cursa ese nivel de escolaridad?", class: 'control-label' %><br />
      <%= applicant.label :escolaridad_cursa, "Si", value: true  %>
      <%= applicant.radio_button :escolaridad_cursa, true, checked: @applicant.escolaridad_cursa %>
      <%= applicant.label :escolaridad_cursa, "No", value: false %>
      <%= applicant.radio_button :escolaridad_cursa, false %>
    </div>
    <div class="form-group">
      <%= applicant.label :escolaridad_finalizada, "Terminó ese nivel de escolaridad?", class: 'control-label' %><br />
      <%= applicant.label :escolaridad_finalizada, "Si", value: true  %>
      <%= applicant.radio_button :escolaridad_finalizada, true, checked: @applicant.escolaridad_finalizada %>
      <%= applicant.label :escolaridad_finalizada, "No", value: false %>
      <%= applicant.radio_button :escolaridad_finalizada, false %>
    </div>
    <div class="form-group">
      <%= applicant.label :escolaridad_quiere_finalizar, "¿Quiere finalizar ese nivel de escolaridad?", class: 'control-label' %><br />
      <%= applicant.label :escolaridad_quiere_finalizar, "Si", value: true  %>
      <%= applicant.radio_button :escolaridad_quiere_finalizar, true, checked: @applicant.escolaridad_quiere_finalizar %>
      <%= applicant.label :escolaridad_quiere_finalizar, "No", value: false %>
      <%= applicant.radio_button :escolaridad_quiere_finalizar, false %>
    </div>
    <div class="form-group">
      <div class="form-inline"> <!-- Para que salgan en la misma linea los selects -->
        <%= applicant.label :fecha_solicitud, "Fecha de solicitud:", class: 'control-label' %><br>
        <%= applicant.date_select :fecha_solicitud,{start_year: 1900, end_year: 2050}, {class: "form-control", layout: :inline, inline: true } %>
      </div>
    </div>
    <div class="form-group">
      <%= applicant.label :email, "Correo electrónico", class: 'control-label' %><br>
      <%= applicant.text_field :email, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= applicant.label :habilitado, "¿Postulante habilitado?", class: 'control-label' %><br />
      <%= applicant.label :habilitado, "Si", value: true  %>
      <%= applicant.radio_button :habilitado, true, checked: @applicant.habilitado %>
      <%= applicant.label :habilitado, "No", value: false %>
      <%= applicant.radio_button :habilitado, false %>
    </div>
    <div class="form-group">
      <%= applicant.label :contratado, "¿El postulante fue contratado?", class: 'control-label' %><br />
      <%= applicant.label :contratado, "Si", value: true  %>
      <%= applicant.radio_button :contratado, true, checked: @applicant.contratado %>
      <%= applicant.label :contratado, "No", value: false %>
      <%= applicant.radio_button :contratado, false %>
    </div> 
    <div class="form-group">
      <div class="actions">
        <%= link_to 'Siguiente', '#organization', class: 'btn btn-primary', role: "tab", data: { toggle: 'tab'}, aria: { controls: :organization} %>
      </div>
    </div>
  </div>
<% end %>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker({
          format: 'D-MM-Y'
        });
    });
</script>