<%= f.fields_for :organization do |organization| %>
  <% if @organization.errors.any? %>
    <div class="alert fade in alert-error" id="error_explanation">
      <h2><%= pluralize(@organization.errors.count, "error") %> impide que los datos sean salvados:</h2>

      <ul>
      <% @organization.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-6" >
    <span>Nombre de la empresa como figura en AFIP</span>
    <div class="form-group">
      <%= organization.label :nombre, 'Razón Social' %><br>
      <%= organization.text_field :nombre, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= organization.label :cuit, 'C.U.I.T (sin guiones ni puntos)' , for: 'CUIT' %><br>
      <%= organization.text_field :cuit, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= organization.label :codigo_actividad, 'Código Actividad (Código CIU AFIP)', for: 'codigo_actividad' %>
      <%= link_to 'Consular códigos', "https://servicios1.afip.gob.ar/genericos/nomencladorActividades/index.aspx", target: "_blank" %> 
      <br>
      <%= organization.text_field :codigo_actividad, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= organization.label :cantidad_personal, 'Cantidad de personal', for: 'cantidad_personal' %><br>
      <%= organization.number_field :cantidad_personal, class: 'form-control'%>
    </div>
  </div>
  <div class="col-md-6" >
    <span>Domicilio legal de la empresa</span>
    <div class="form-group">
      <%= organization.label :departament_id, "Departamento", class: 'control-label' %><br>
      <%= organization.select :departament_id, options_from_collection_for_select(Departament.all, :id, :nombre), {selected: @organization.departament, prompt: 'Seleccione el departamento'}, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= organization.label :calle,'Calle', for: 'calle' %><br>
      <%= organization.text_field :calle, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= organization.label :nro, 'Nro.', for: 'nro' %><br>
      <%= organization.text_field :nro, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= organization.label :localidad, 'Localidad', for: 'localidad' %><br>
      <%= organization.text_field :localidad, class: 'form-control' %>
    </div>
    <div class="form-group">
      
    </div>
    <div class="form-group">
      <%= organization.label :telefono, 'Teléfono', for: 'telefono' %><br>
      <%= organization.text_field :telefono, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= organization.label :fax, 'FAX', for: 'fax' %><br>
      <%= organization.text_field :fax, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= organization.label :email, 'Correo electrónico', for: 'email' %><br>
      <%= organization.text_field :email, class: 'form-control' %>
    </div>
    <div class="form-group">
      <div class="actions">
        <%= link_to 'Siguiente', '#application', class: 'btn btn-primary', role: "tab", data: { toggle: 'tab'}, aria: { controls: :application} %>
      </div>
    </div>
  </div>
      <div class="">
        <%= link_to 'Anterior', '#applicant', class: 'btn btn-default pull-down', role: "tab", data: { toggle: 'tab'}, aria: { controls: :applicant} %>
  </div>
<% end %>
