<%= f.fields_for  :application do |application| %>
  <% if @application.errors.any? %>
    <div class="alert fade in alert-error" id="error_explanation">
      <h2><%= pluralize(@application.errors.count, "error") %> impide que los datos sean salvados:</h2>

      <ul>
      <% @application.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= application.label :applicant_id, 'Postulante', for: 'applicant_id' %><br>
    <%= application.select :applicant_id, Applicant.all.collect {|u| [u.important_data, u.id]}, {selected: @application.applicant_id, prompt: 'Seleccione un postulante'}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= application.label :organization_id, 'Empresa', for: 'organization_id' %><br>
    <%= application.select :organization_id, Organization.all.collect {|u| [u.important_data, u.id]}, {selected: @application.organization_id, prompt: 'Seleccione una empresa'}, class: 'form-control' %>
  </div>

  <div class="form-group">
     <%= application.label :tipo_contratacion, "Modalidad de contratación", class: 'control-label' %><br />
    <%= application.radio_button :tipo_contratacion, Application::ENTRENAMIENTO  %>
    <%= application.label :tipo_contratacion, "Entrenamiento" %><br>
    <%= application.radio_button :tipo_contratacion, Application::CTI  %>
    <%= application.label :tipo_contratacion, "CTI" %><br>
  </div>

  <div class="form-group">
    <%= application.label :estado, "Estado postulación", class: 'control-label' %><br>
    <% select_estado = {'PENDIENTE'=> 'PENDIENTE', 'RECHAZADO'=> 'RECHAZADO'} %>
    <%= application.select :estado, select_estado, {selected: @application.estado, prompt: 'Seleccione un estado'}, {class: "form-control", id: 'estado_select' } %>
  </div>

  <div class="form-group">
    <div class="actions">
      
    </div>
  </div>
  <div class="">
        <%= link_to 'Anterior', '#organization', class: 'btn btn-default pull-down', role: "tab", data: { toggle: 'tab'}, aria: { controls: :organization} %>
<% end %>