<h1>Nueva postulación</h1>

<%= form_for @application do |f| %>

<div>
 <!-- Tab panes -->
  <div class="tab-content">
    <ul class="nav nav-tabs">
      <li class="active">
        <a  href="#applicant" data-toggle="tab">Postulante</a>
      </li>
      <li>
        <a href="#organization" data-toggle="tab">Empresa</a>
      </li>
      <li>
        <a href="#application" data-toggle="tab">Postulación</a>
      </li>
    </ul>
    <div role="tabpanel" class="tab-pane active" id="applicant">
    <!-- step 1 -->
      <%= f.fields_for :applicant do |applicant| %>
        <div class="form-group required">
          <%= f.label :convocation_id, 'Convocatoria ', for: 'convocation_id', class: 'control-label' %><br>
          <%= f.select :convocation_id, Convocation.all.collect {|u| [u.important_data, u.id]}, {selected: @application.convocation_id, prompt: 'Seleccione una convocatoria'}, class: 'form-control' %>
        </div>
        <div class="col-md-6" >
        <div class="form-group required <%= 'has-error' if @applicant.errors[:apellidos].any? %>">
          <%= applicant.label :apellidos, "Apellidos ", class: 'control-label' %><br>
          <%= validated_text_field(applicant, @applicant, :apellidos,  class: 'form-control required' ) %>
        </div>
        <div class="form-group required <%= 'has-error' if @applicant.errors[:nombres].any? %>">
          <%= applicant.label :nombres, "Nombres ", class: 'control-label' %><br>
          <%= validated_text_field(applicant, @applicant, :nombres,  class: 'form-control required' ) %>
          
        </div>
        <div class="form-group required">
          <%= applicant.label :sexo, "Sexo ", class: 'control-label' %><br />
          <%= applicant.label :sexo, "Varon", value: "v"  %>
          <%= applicant.radio_button :sexo, "v" %>
          <%= applicant.label :sexo, "Mujer", value: "m" %>
          <%= applicant.radio_button :sexo, "m" %>
        </div>
        <div class="form-group required <%= 'has-error' if @applicant.errors[:cuil].any? %>">
          <%= applicant.label :cuil, "CUIL (sin guiones) ", class: 'control-label' %><br>
          <%= validated_text_field(applicant, @applicant, :cuil,  class: 'form-control required' ) %>
        </div>
        <div class="form-group required <%= 'has-error' if @applicant.errors[:dni].any? %>">
          <%= applicant.label :dni, "DNI (solo números) ", class: 'control-label' %><br>
          <%= validated_text_field(applicant, @applicant, :dni,  class: 'form-control required' ) %>
        </div>
        <div class="form-group">
          <%= applicant.label :fecha_nacimiento, for: "fecha_nacimiento", class: 'control-label' %><br>
          <div class='input-group required date <%= 'has-error' if @applicant.errors[:fecha_nacimiento].any? %>' id='datetimepicker1'>
            <%= validated_text_field(applicant, @applicant, :fecha_nacimiento,  class: 'form-control required' ) %>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
        </div>
        <div class="form-group">
          <%= applicant.label :telefono, "Teléfono", class: 'control-label' %><br>
          <%= applicant.text_field :telefono, class: 'form-control' %>
        </div>
        <div class="form-group required">
          <%= applicant.label :estado_civil, "Estado Civil ", class: 'control-label' %><br>
          <% select_estado_civil = {'Soltero'=> 'soltero', 'Casado o conviviente'=> 'casado o conviviente', 'Viudo'=> 'viudo', 'Separado o Divorciado'=> 'separado o divorciado'} %>
          <%= applicant.select :estado_civil, select_estado_civil, {selected: @applicant.estado_civil, prompt: 'Seleccione un estado civil'}, {class: "form-control", id: 'estado_civil_select' } %>
        </div>
        <div class="form-group">
          <%= applicant.label :hijos, "Cantidad de hijos", class: 'control-label' %><br>
          <%= applicant.number_field :hijos, value: '0', class: 'form-control' %>
        </div>
        </div>
        <div class="col-md-6" >
        <div class="form-group">
          <%= applicant.label :domicilio, "Domicilio", class: 'control-label' %><br>
          <%= applicant.text_field :domicilio, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= applicant.label :localidad, "Localidad", class: 'control-label' %><br>
          <%= applicant.text_field :localidad, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= applicant.label :departament_id, "Departamento", class: 'control-label' %><br>
          <%= applicant.select :departament_id, options_from_collection_for_select(Departament.all, :id, :nombre), {selected: @applicant.departament, prompt: 'Seleccione el departamento'}, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= applicant.label :codigo_postal, "", class: 'control-label' %><br>
          <%= applicant.text_field :codigo_postal, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= applicant.label :escolaridad_nivel, "Máximo nivel alcanzado", class: 'control-label' %><br>
          <% select_nivel = {'Ninguno'=> 'ninguno', 'Primario (o EGB)'=> 'primario', 'Ciclo Básico'=> 'ciclo básico', 'Secundario (Polimodal)'=> 'secundario', 'Terciario'=> 'terciario', 'Universitario'=> 'universitario'} %>
          <%= applicant.select :escolaridad_nivel, select_nivel, {selected: @applicant.escolaridad_nivel, prompt: 'Seleccione el máximo nivel de escolaridad alcanzado'}, {class: "form-control", id: 'nivel_select' } %>
        </div>
        <div class="form-group">
          <%= applicant.label :escolaridad_cursa, "Actualmente, ¿Cursa ese nivel de escolaridad?", class: 'control-label' %><br />
          <%= applicant.label :escolaridad_cursa, "Si", value: true  %>
          <%= applicant.radio_button :escolaridad_cursa, true, checked: @applicant.escolaridad_cursa %>
          <%= applicant.label :escolaridad_cursa, "No", value: false %>
          <%= applicant.radio_button :escolaridad_cursa, false %>
        </div>
        <div class="form-group">
          <%= applicant.label :escolaridad_finalizada, "Terminó ese nivel de escolaridad?", class: 'control-label' %><br />
          <%= applicant.label :escolaridad_finalizada, "Si", value: true  %>
          <%= applicant.radio_button :escolaridad_finalizada, true, checked: @applicant.escolaridad_finalizada %>
          <%= applicant.label :escolaridad_finalizada, "No", value: false %>
          <%= applicant.radio_button :escolaridad_finalizada, false %>
        </div>
        <div class="form-group">
          <%= applicant.label :escolaridad_quiere_finalizar, "¿Quiere finalizar ese nivel de escolaridad?", class: 'control-label' %><br />
          <%= applicant.label :escolaridad_quiere_finalizar, "Si", value: true  %>
          <%= applicant.radio_button :escolaridad_quiere_finalizar, true, checked: @applicant.escolaridad_quiere_finalizar %>
          <%= applicant.label :escolaridad_quiere_finalizar, "No", value: false %>
          <%= applicant.radio_button :escolaridad_quiere_finalizar, false %>
        </div>
        <div class="form-group">
          <div class="form-inline"> <!-- Para que salgan en la misma linea los selects -->
            <%= applicant.label :fecha_solicitud, "Fecha de solicitud:", class: 'control-label' %><br>
            <%= applicant.date_select :fecha_solicitud,{start_year: 1900, end_year: 2050}, {class: "form-control", layout: :inline, inline: true } %>
          </div>
        </div>
        <div class="form-group required">
          <%= applicant.label :email, "Correo electrónico ", class: 'control-label' %><br>
          <%= applicant.text_field :email, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= applicant.label :habilitado, "¿Postulante habilitado?", class: 'control-label' %><br />
          <%= applicant.label :habilitado, "Si", value: true  %>
          <%= applicant.radio_button :habilitado, true, checked: @applicant.habilitado %>
          <%= applicant.label :habilitado, "No", value: false %>
          <%= applicant.radio_button :habilitado, false %>
        </div>
        <div class="form-group">
          <%= applicant.label :contratado, "¿El postulante fue contratado?", class: 'control-label' %><br />
          <%= applicant.label :contratado, "Si", value: true  %>
          <%= applicant.radio_button :contratado, true, checked: @applicant.contratado %>
          <%= applicant.label :contratado, "No", value: false %>
          <%= applicant.radio_button :contratado, false %>
        </div> 

        </div>
      <% end %>
      <script type="text/javascript">
      $(function () {
          $('#datetimepicker1').datetimepicker({
            format: 'D-MM-Y'
          });
      });
      </script>
    <!-- /step 1 -->
    </div>
    <div role="tabpanel" class="tab-pane" id="organization">
      <!-- step 2 -->
      <%= f.fields_for :organization do |organization| %>
        <div class="col-md-6 " >
          <div class="form-group required <%= 'has-error' if @organization.errors[:nombre].any? %>">
            <%= organization.label :nombre, 'Razón Social (nombre de la empresa como figura en AFIP)', class: 'control-label', for: 'nombre' %><br>
            <%= validated_text_field(organization, @organization, :nombre,  class: 'form-control' ) %>
          </div>
          <div class="form-group required <%= 'has-error' if @organization.errors[:cuit].any? %>">
            <%= organization.label :cuit, 'C.U.I.T (sin guiones ni puntos) ' , for: 'CUIT', class: 'control-label' %><br>
            <%= validated_text_field(organization, @organization, :cuit,  class: 'form-control required' ) %>
          </div>
          <div class="form-group required <%= 'has-error' if @organization.errors[:codigo_actividad].any? %>">
            <%= organization.label :codigo_actividad, 'Código Actividad (Código CIU AFIP) ', for: 'codigo_actividad', class: 'control-label' %>
            <%= link_to 'Consular códigos', "https://servicios1.afip.gob.ar/genericos/nomencladorActividades/index.aspx", target: "_blank" %> 
            <br>
            <%= validated_text_field(organization, @organization, :codigo_actividad,  class: 'form-control' ) %>

          </div>
          <div class="form-group required <%= 'has-error' if @organization.errors[:cantidad_personal].any? %>">
            <%= organization.label :cantidad_personal, 'Cantidad de personal', for: 'cantidad_personal', class: 'control-label' %><br>
            <%= validated_text_field(organization, @organization, :cantidad_personal,  class: 'form-control required' ) %>
          </div>
        </div>
        <div class="col-md-6" >
          <span>Domicilio legal de la empresa</span>
          <div class="form-group">
            <%= organization.label :departament_id, "Departamento", class: 'control-label' %><br>
            <%= organization.select :departament_id, options_from_collection_for_select(Departament.all, :id, :nombre), {selected: @organization.departament, prompt: 'Seleccione el departamento'}, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= organization.label :calle,'Calle', for: 'calle' %><br>
            <%= organization.text_field :calle, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= organization.label :nro, 'Nro.', for: 'nro' %><br>
            <%= organization.text_field :nro, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= organization.label :localidad, 'Localidad', for: 'localidad' %><br>
            <%= organization.text_field :localidad, class: 'form-control' %>
          </div>
          <div class="form-group">
            
          </div>
          <div class="form-group">
            <%= organization.label :telefono, 'Teléfono', for: 'telefono' %><br>
            <%= organization.text_field :telefono, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= organization.label :fax, 'FAX', for: 'fax' %><br>
            <%= organization.text_field :fax, class: 'form-control' %>
          </div>
          <div class="form-group required <%= 'has-error' if @organization.errors[:email].any? %>">
            <%= organization.label :email, 'Correo electrónico ', for: 'email', class: 'control-label' %><br>
              <%= validated_text_field(organization, @organization, :email,  class: 'form-control' ) %>
          </div>
        </div>
      <% end %>
      <!-- /step 2 -->
    </div>
    <div role="tabpanel" class="tab-pane" id="application">
     <!-- step 3 -->
     <%= f.fields_for  :application do |application| %>
        <div class="form-group required">
           <%= application.label :tipo_contratacion, "Modalidad de contratación ", class: 'control-label' %><br />
          <%= application.radio_button :tipo_contratacion, Application::ENTRENAMIENTO  %>
          <%= application.label :tipo_contratacion, "Entrenamiento" %><br>
          <%= application.radio_button :tipo_contratacion, Application::CTI  %>
          <%= application.label :tipo_contratacion, "CTI" %><br>
        </div>

        <div class="form-group required">
          <%= application.label :estado, "Estado postulación ", class: 'control-label' %><br>
          <% select_estado = {'PENDIENTE'=> 'PREPOSTULADO', 'RECHAZADO'=> 'RECHAZADO'} %>
          <%= application.select :estado, select_estado, {selected: @application.estado, prompt: 'Seleccione un estado'}, {class: "form-control", id: 'estado_select' } %>
        </div>

        <div class="form-group">
          <div class="actions">
            
          </div>
        </div>
      <% end %>
     <!-- /step 3 -->
     <br>
     <div> 
     <div class="form-group">
        <div class="actions">
          <%= f.submit "Guardar postulación", class: 'btn btn-primary' %>
        </div>
      </div>
     </div>
  </div>
</div>
<% end %>
</div>

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
});
</script>