<h1>Listado de Postulaciones</h1>
<div class="col-md-12" >
  <table id="applications-list" class="table table-striped table-hover table-condensed">
    <thead>
      <tr>
        <th>Postulante</th>
        <th>Empresa</th>
        <th>Tipo contratacion</th>
        <th>Estado</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @applications.each do |application| %>
        <tr>
          <td><%= application.applicant %></td>
          <td><%= application.organization %></td>
          <td><%= application.tipo_contratacion %></td>
          <td><%= application.estado_to_human if application.estado %></td>
          <td><%= link_to 'Mostrar', application %></td>
          <td><%= link_to 'Editar', edit_application_path(application) %></td>
          <td><%= link_to 'Eliminar', application, method: :delete, data: { confirm: '¿Esta seguro que desea eliminar?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<!-- render page links in the view: -->
<div class="flickr_pagination col-md-12">
  <%= will_paginate @applications %>
</div>
<br>

<%= link_to 'Agregar postulación', new_application_path, class: 'btn btn-primary' %>