<div class="col-md-8" >
<p>
  <strong>Applicant:</strong>
  <%= @application.applicant %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @application.organization %>
</p>

<p>
  <strong>Tipo contratacion:</strong>
  <%= @application.tipo_contratacion %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @application.estado if @application.estado %>
</p>

</div>
<div class="col-md-12" >
  <hr>
  <%= link_to 'Editar', edit_application_path(@application) %> |
  <%= link_to 'Volver', applications_path %>
</div>