<p>Los siguientes postulantes se descartaron por no cumplir con la edad requerida</p>

<p><%= @excluidos_por_edad.count %> postulantes descartados</p>

<table class="table table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th>Apellidos</th>
      <th>Nombres</th>
      <th>Sexo</th>
      <th>DNI</th>
      <th>Fecha Nacimiento</th>
      <th>Edad</th>
      <th>Teléfono</th>
      <th>Estado civil</th>
      <th>Hijos</th>
      <th>Localidad</th>
      <th>Nivel escolaridad</th>
      <th>Cursa?</th>
      <th>Terminó?</th>
      <th>Quiere terminar?</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% @excluidos_por_edad.each do |a| %>
      <tr>
        <td><%= a[:apellidos] %></td>
        <td><%= a[:nombres] %></td>
        <td><%= a[:sexo] %></td>
        <td><%= a[:dni] %></td>
        <td><%= l a[:fecha_nacimiento].to_date %></td>
        <td><%= a[:edad] %></td>
        <td><%= a[:telefono] %></td>
        <td><%= a[:estado_civil] %></td>
        <td><%= a[:hijos] %></td>
        <td><%= a[:localidad] %></td>
        <td><%= a[:escolaridad_nivel] %></td>
        <td><%= boolean_to_text(a[:escolaridad_cursa]) %></td>
        <td><%= boolean_to_text(a[:escolaridad_finalizada]) %></td>
        <td><%= boolean_to_text(a[:escolaridad_quiere_finalizar]) %></td>
        <td><%= a[:email] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
