<h1>Postulantes</h1>
<div class="col-md-12" >
  <table id="applicants-list" class="table table-striped table-hover table-condensed">
    <thead>
      <tr>
        <th>Habilitado?</th>
        <th>Apellidos</th>
        <th>Nombres</th>
        <th>Sexo</th>
        <th>DNI</th>
        <th>CUIL</th>
        <th>Fecha Nacimiento</th>
        <th>Teléfono</th>
        <th>Estado civil</th>
        <th>Hijos</th>
        <th>Localidad</th>
        <th>Nivel escolaridad</th>
        <th>Cursa?</th>
        <th>Terminó?</th>
        <th>Quiere terminar?</th>
        <th>Fecha solicitud</th>
        <th>Email</th>
        <th>Postulante contratado?</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @applicants.each do |applicant| %>
        <%= contratado_line(applicant.contratado) %>        
          <td><%= badge_status(applicant.habilitado) %><%= boolean_to_text(applicant.habilitado) %><span></td>
          <td><%= applicant.apellidos %></td>
          <td><%= applicant.nombres %></td>
          <td><%= genere_to_text(applicant.sexo) %></td>
          <td><%= applicant.dni %></td>
          <td><%= applicant.cuil if applicant.cuil %></td>
          <td><%= applicant.fecha_nacimiento %></td>
          <td><%= applicant.telefono %></td>
          <td><%= applicant.estado_civil %></td>
          <td><%= applicant.hijos %></td>
          <td><%= applicant.localidad if applicant.departament %></td>
          <td><%= applicant.escolaridad_nivel %></td>
          <td><%= boolean_to_text(applicant.escolaridad_cursa) %></td>
          <td><%= boolean_to_text(applicant.escolaridad_finalizada) %></td>
          <td><%= boolean_to_text(applicant.escolaridad_quiere_finalizar) %></td>
          <td><%= applicant.fecha_solicitud %></td>
          <td><%= applicant.email %></td>
          <td><%= boolean_to_text(applicant.contratado) %></td>
          <td><%= link_to 'Mostrar', applicant %></td>
          <td><%= link_to 'Editar', edit_applicant_path(applicant) %></td>
          <td><%= link_to 'Eliminar', applicant, method: :delete, data: { confirm: '¿Esta seguro que desea eliminar?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<!-- render page links in the view: -->
<div class="flickr_pagination col-md-12">
  <%= will_paginate @applicants %>
</div>
<br>

<%= link_to 'Agregar postulante', new_applicant_path, class: 'btn btn-default' %>

