<div class="col-md-8" >
  <p>
    <strong>Apellidos:</strong>
    <%= @applicant.apellidos %>
  </p>

  <p>
    <strong>Nombres:</strong>
    <%= @applicant.nombres %>
  </p>

  <p>
    <strong>Sexo:</strong>
    <%= genere_to_text(@applicant.sexo) %>
  </p>

  <p>
    <strong>Cuil:</strong>
    <%= @applicant.cuil %>
  </p>

  <p>
    <strong>Dni:</strong>
    <%= @applicant.dni %>
  </p>

  <p>
    <strong>Fecha nacimiento:</strong>
    <%= @applicant.fecha_nacimiento %>
  </p>

  <p>
    <strong>Telefono:</strong>
    <%= @applicant.telefono %>
  </p>

  <p>
    <strong>Estado civil:</strong>
    <%= @applicant.estado_civil %>
  </p>

  <p>
    <strong>Hijos:</strong>
    <%= @applicant.hijos %>
  </p>

  <p>
    <strong>Domicilio:</strong>
    <%= @applicant.domicilio %>
  </p>

  <p>
    <strong>Localidad:</strong>
    <%= @applicant.localidad %>
  </p>

  <p>
    <strong>Departament:</strong>
    <%= @applicant.departament.nombre if @applicant.departament %>
  </p>

  <p>
    <strong>Codigo postal:</strong>
    <%= @applicant.codigo_postal %>
  </p>

  <p>
    <strong>Escolaridad nivel:</strong>
    <%= @applicant.escolaridad_nivel %>
  </p>

  <p>
    <strong>Escolaridad cursa:</strong>
    <%= boolean_to_text(@applicant.escolaridad_cursa) %>
  </p>

  <p>
    <strong>Escolaridad finalizada:</strong>
    <%= boolean_to_text(@applicant.escolaridad_finalizada) %>
  </p>

  <p>
    <strong>Escolaridad quiere finalizar:</strong>
    <%= boolean_to_text(@applicant.escolaridad_quiere_finalizar) %>
  </p>

  <p>
    <strong>Fecha solicitud:</strong>
    <%= @applicant.fecha_solicitud %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @applicant.email %>
  </p>

  <p>
    <strong>Habilitado:</strong>
    <%= boolean_to_text(@applicant.habilitado) %>
  </p>

  <p>
    <strong>Contratado:</strong>
    <%= boolean_to_text(@applicant.contratado) %>
  </p>
</div>
<div class="col-md-12" >
  <hr>
  <%= link_to 'Editar', edit_applicant_path(@applicant) %> |
  <%= link_to 'Volver', applicants_path %>
</div>
