<h2>Cambiar su clave</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <div class="alert alert-danger">
  <%= devise_error_messages! %>
</div>
  <%= f.hidden_field :reset_password_token %>

  <div class="form-group">
    <%= f.label :password, "Nueva clave", class: 'control-label' %><br />
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> caracteres mínimos)</em>
    <% end %><br />
    <%= f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, "Confirme la nueva clave", class: 'control-label' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
  </div>

  <div class="form-group">
   <div class="actions">
    <%= f.submit "Cambiar clave",  class: 'btn btn-primary' %>
   </div>
  </div>
<% end %>

