<h1>Listing departaments</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @departaments.each do |departament| %>
      <tr>
        <td><%= departament.nombre %></td>
        <td><%= link_to 'Mostrar', departament %></td>
        <td><%= link_to 'Editar', edit_departament_path(departament) %></td>
        <td><%= link_to 'Eliminar', departament, method: :delete, data: { confirm: '¿Esta seguro que desea eliminar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Agregar Departamento', new_departament_path %>
