<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @departament.nombre %>
</p>

<%= link_to 'Editar', edit_departament_path(@departament) %> |
<%= link_to 'Volver', departaments_path %>
