<!DOCTYPE html>
<html lang="es">
<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>Documento prueba clase 2</title>
	<link rel="stylesheet" href="/css/letter.css">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
	<div class="row hidden-print">
		<div class="col-lg-1" style="float: none; margin: 0 auto">
			<%= link_to "Imprimir carta", "#", onclick: "window.print()", class: 'btn btn-primary' %>
		</div>
	</div>
	<div class="container">
		

		<div class="row">
			<div class="weel">
				<div class="cabecera">
					<img src="/images/header.png" alt="">
				</div>
			</div>
		</div>

		<div class="carta">
			<div class="titulo">
				<h3>PROGRAMA DE FORMACIÓN Y PRIMER EMPLEO PARA JÓVENES
				<BR>PETEIHA TRABAJO<br>
				2015/16</h3>
			</div>	
			<br>
			<div class="encabezado">
				<h3>Beneficiario: <%= @application.applicant.apellidos %>, <%= @application.applicant.nombres %> </h3>
				<h3>D.N.I.: <%= @application.applicant.dni %></h3>
			</div>	
			<br>
			<div class="cuerpo">
				<p>Usted ha sido aceptado como BENEFICIARIO del Programa PETEIHA TRABAJO a partir del <%= @application.convocation.sorteo_realizado_el.day %> de <%= l @application.convocation.sorteo_realizado_el, format: '%B' %> de <%= @application.convocation.sorteo_realizado_el.year %>, bajo la modalidad:  <b><%= @application.tipo_contratacion %></b></p>

				<p>Deberá iniciar su entrenamiento en la Empresa: <b><%= @application.organization.nombre %></b></p>

				<p>Esta Dirección le abrirá una Caja de Ahorro en el Banco de Corrientes para depositarle la asignación mensual que le corresponde.</p>

				<p>Sólo aquellos beneficiarios que son menores de 18 años de edad deberán: <b>a)</b> enviar los datos de un apoderado, y <b>b)</b> Presentar nota firmada por sus padres autorizando a realizar la formación laboral en el marco del Programa e indicando sus horarios escolares.</p>	

				<p>En la segunda quincena de junio de 2016 se le informará sobre la tarjeta de débito que usted o su apoderado tendrá para extraer fondos de dicha caja de ahorro.</p>

				<p>Para beneficiarios incorporados por la Modalidad <b>Contrato de Tiempo Indeterminado (CTI)</b> la empresa deberá entregar a ésta Dirección de Empleo copia del <b>ALTA TEMPRANA</b> en la AFIP que comprueba su relación laboral, sin la cual no se hará efectivo el beneficio</p>

				<p>Esta Dirección realizará controles periódicos para verificar su presencia en la empresa donde se capacita.</p>

				<p>Para realizar cualquier trámite o consulta podrá hacerlo vía correo electrónico a peteihatrabajo@empleo.corrientes.gov.ar, en la fanpage de facebook del programa <a href="https://web.facebook.com/peteihatrabajo/" target="_blank">https://www.facebook.com/peteihatrabajo/</a> o personalmente en <b>España 441, Goya, de lunes a viernes de 7.30 a 12.30 hs.</b></p>

				<p>Saluda atentamente,<b> peteihatrabajo@empleo.corrientes.gov.ar </b>.</p>
				<br>
			</div>	
		</div>
		<br>
	</div>	
	

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
</body>
<script>
	window.print();
</script>
</html>




