<!DOCTYPE html>
<html lang="es">
<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<!--<title>Documento prueba clase 2</title>-->
	<link rel="stylesheet" href="/css/letter.css">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>

	<div class="row hidden-print">
		<div class="col-lg-1" style="float: none; margin: 0 auto">
			<%= link_to "Imprimir carta", "#", onclick: "window.print()", class: 'btn btn-primary' %>
		</div>
	</div>

	<div class="container">

		<div class="row">
			<div class="weel">
				<div class="cabecera">
					<img src="/images/header.png" alt="">
				</div>
			</div>
		</div>

		<div class="carta">
			<div class="titulo">
				<h3>PROGRAMA DE FORMACIÓN Y PRIMER EMPLEO PARA JÓVENES
				<BR>PETEIHA TRABAJO<br>
				2016/17</h3>
			</div>	
			<br>
			<div class="encabezado">
				<h3><%= @org.domicilio %></h3>
				<h3>Empresa: <b><%= @org.nombre %></b></h3>
				<h3>C.U.I.T Nº: <b><%= @org.cuit %></b></h3>
			</div>	
			<br>

			<div class="cuerpo">

				<p>Han sido admitidas en su empresa la/le/los siguientes BENEFICIARIOS del Programa PETEIHA TRABAJO:</p>

				<div class="tabla">
					<table width="75%" border="1" align="center" bordercolor="#000000">
						<tr>
							<td colspan="2" bordercolor="#000000"><div align="center">BENEFICIARIO</div></td>
							<td width="20%" rowspan="2" bordercolor="#000000"><div align="center">CUIL</div></td>
							<td width="36%" rowspan="2" bordercolor="#000000"><div align="center">MODALIDAD</div></td>
						</tr>
						<tr>
							<td width="20%" bordercolor="#000000"><div align="center">APELLIDO</div></td>
							<td width="24%" bordercolor="#000000"><div align="center">NOMBRE</div></td>
						</tr>
						<% @convocation.adjudicados_of(@org).each do |adj| %>
							<tr>
								<td bordercolor="#000000"><div align="center"><%= adj.applicant.apellidos %></div></td>
								<td bordercolor="#000000"><div align="center"><%= adj.applicant.nombres %></div></td>
								<td bordercolor="#000000"><div align="center"><%= adj.applicant.cuil %></div></td>
								<td bordercolor="#000000"><div align="center"><%= adj.tipo_contratacion %></div></td>
							</tr>
						<% end %>
					</table>
				</div>
				<br>
			
				<p>Para beneficiarios por la modalidad <b>CONTRATO POR TIEMPO INDETERMINADO (CTI)</b> la empresa deberá entregar en esta Dirección copia del ALTA TEMPRANA en AFIP que comprueba su relación laboral, sin la cual no se hará efectivo el beneficio. La demora de entrega de esta documentación no permitirá cobrar retroactivos vencidos. El beneficio lo cobrará el beneficiario y la empresa lo descuenta en el recibo de sueldo del neto del trabajador.</p>

				<p>Además la empresa deberá informar, por escrito, el domicilio y horarios donde desarrollará tareas el beneficiario del Programa Peteiha Trabajo, antes del 21 de junio de 2016. El incumplimiento dará lugar a la retención de pagos al Beneficiario.</p>

				<p>Ante cualquier accidente de trabajo de los beneficiarios por la modalidad &quot;Entrenamiento para el Trabajo&quot; deberán proceder como se indicará en la información de la Compañía de Seguros que se remitirá.</p>

				<p>No obstante que la Dirección de Empleo de la Provincia realizará controles periódicos en la empresa, a los fines de constatar la permanencia de los beneficiarios, solicitamos se nos informe cualquier novedad al respecto</p>	

				<p>Para realizar cualquier trámite o consulta podrá hacerlo vía correo electrónico a peteihatrabajo@empleo.corrientes.gov.ar, en la fanpage de facebook del programa <a href="https://web.facebook.com/peteihatrabajo/" target="_blank">https://www.facebook.com/peteihatrabajo/</a> o personalmente en <b>España 441, Goya, de lunes a viernes de 7.30 a 12.30 hs.</b></p>

				<p>Saluda atentamente,<b> peteihatrabajo@empleo.corrientes.gov.ar</b>.</p>
				<br>
			</div>	
		</div>

	</div>	

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
</body>
<script>
	window.print();
</script>
</html>




