<%= form_for(@organization) do |f| %>
  <% if @organization.errors.any? %>
    <div class="alert fade in alert-error" id="error_explanation">
      <h2><%= pluralize(@organization.errors.count, "error") %> impide que los datos sean salvados:</h2>

      <ul>
      <% @organization.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-6" >
    <span>Nombre de la empresa como figura en AFIP</span>
    <div class="form-group">
      <%= f.label :nombre, 'Razón Social', class: 'control-label' %><br>
      <%= f.text_field :nombre, class: 'form-control' %>
    </div>
    <div class="form-group required">
      <%= f.label :cuit, 'C.U.I.T (sin guiones ni puntos) ' , for: 'CUIT', class: 'control-label' %><br>
      <%= f.text_field :cuit, class: 'form-control' %>
    </div>
    <div class="form-group required">
      <%= f.label :codigo_actividad, 'Código Actividad (Código CIU AFIP) ', for: 'codigo_actividad', class: 'control-label' %>
      <%= link_to 'Consular códigos', "https://servicios1.afip.gob.ar/genericos/nomencladorActividades/index.aspx", target: "_blank" %> 
      <br>
      <%= f.text_field :codigo_actividad, class: 'form-control' %>
    </div>
    <div class="form-group required">
      <%= f.label :cantidad_personal, 'Cantidad de personal ', for: 'cantidad_personal', class: 'control-label' %><br>
      <%= f.number_field :cantidad_personal, class: 'form-control'%>
    </div>
  </div>
  <div class="col-md-6" >
    <span>Domicilio legal de la empresa</span>
    <div class="form-group required">
      <%= f.label :departament_id, "Departamento ", class: 'control-label' %><br>
      <%= f.select :departament_id, options_from_collection_for_select(Departament.all, :id, :nombre), {selected: @organization.departament, prompt: 'Seleccione el departamento'}, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :calle,'Calle', for: 'calle', class: 'control-label' %><br>
      <%= f.text_field :calle, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :nro, 'Nro.', for: 'nro', class: 'control-label' %><br>
      <%= f.text_field :nro, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :localidad, 'Localidad', for: 'localidad', class: 'control-label' %><br>
      <%= f.text_field :localidad, class: 'form-control' %>
    </div>
    <div class="form-group">
      
    </div>
    <div class="form-group">
      <%= f.label :telefono, 'Teléfono', for: 'telefono', class: 'control-label' %><br>
      <%= f.text_field :telefono, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :fax, 'FAX', for: 'fax', class: 'control-label' %><br>
      <%= f.text_field :fax, class: 'form-control' %>
    </div>
    <div class="form-group required">
      <%= f.label :email, 'Correo electrónico ', for: 'email', class: 'control-label' %><br>
      <%= f.text_field :email, class: 'form-control' %>
    </div>
    <div class="form-group">
      <div class="actions">
        <%= f.submit 'Guardar', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
