<h1>Empresas</h1>
<div class="col-md-12" >
  <table id="organizations-list" class="table table-striped table-hover table-condensed">
    <thead>
      <tr>
        <th>Razon Social</th>
        <th>CUIT</th>
        <th>Codigo actividad</th>
        <th>Cantidad personal</th>
        <th>Calle</th>
        <th>Nro</th>
        <th>Localidad</th>
        <th>Telefono</th>
        <th>Fax</th>
        <th>Email</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @organizations.each do |organization| %>
        <tr>
          <td><%= organization.nombre %></td>
          <td><%= organization.cuit %></td>
          <td><%= organization.codigo_actividad %></td>
          <td><%= organization.cantidad_personal %></td>
          <td><%= organization.calle %></td>
          <td><%= organization.nro %></td>
          <td><%= organization.localidad %></td>
          <td><%= organization.telefono %></td>
          <td><%= organization.fax %></td>
          <td><%= organization.email %></td>
          <td><%= link_to 'Mostrar', organization %></td>
          <td><%= link_to 'Editar', edit_organization_path(organization) %></td>
          <td><%= link_to 'Eliminar', organization, method: :delete, data: { confirm: '¿Esta seguro que desea eliminar?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
   <!-- render page links in the view: -->
  <div class="flickr_pagination col-md-12">
    <%= will_paginate @organizations %>
  </div>
</div>
<br>

<%= link_to 'Agregar Empresa', new_organization_path, class: 'btn btn-primary' %>
