<div class="col-md-12" >
  <p>
    <strong>Razón social:</strong>
    <%= @organization.nombre %>
  </p>
  <p>
    <strong>CUIT:</strong>
    <%= @organization.cuit %>
  </p>

  <p>
    <strong>Código actividad:</strong>
    <%= @organization.codigo_actividad %>
  </p>

  <p>
    <strong>Cantidad de personal:</strong>
    <%= @organization.cantidad_personal %>
  </p>

  <p>
    <strong>Calle:</strong>
    <%= @organization.calle %>
  </p>

  <p>
    <strong>Nro:</strong>
    <%= @organization.nro %>
  </p>

  <p>
    <strong>Localidad:</strong>
    <%= @organization.localidad %>
  </p>

  <p>
    <strong>Telefono:</strong>
    <%= @organization.telefono %>
  </p>

  <p>
    <strong>Fax:</strong>
    <%= @organization.fax %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @organization.email %>
  </p>
</div>
<div class="col-md-12" >
  <hr>
  <%= link_to 'Editar', edit_organization_path(@organization) %> |
  <%= link_to 'Volver', organizations_path %>
  <br>
</div>