<p>Bienvenido <%= @email %>!</p>

<p>Por favor, confirma la creación de tu cuenta presionando en el siguiente enlace:</p>

<p><%= link_to 'Confirmar mi cuenta', confirmation_url(@resource, confirmation_token: @token) %></p>
