<h3>Buenas, <%= @org.nombre %></h3>
<br>

<p>
  Les enviamos el listado de adjudicados a su empresa, en la convocatoria para PETEIHA TRABAJO.
</p>

<ul>
  <% @adjudicados.each do |adj| %>
    <li><%= adj.applicant.important_data %></li>
  <% end %>
</ul>

<p>
  En el siguiente link <%= link_to carta_empresa_url(@convocation, @org), carta_empresa_url(@convocation, @org) %> podrán acceder a una carta formal con el listado de adjudicados y otros datos importantes.
</p>

<p>Gracias, PETEIHA TRABAJO</p>
