<h2>¡Felicidades!</h2>
<br>

<p>
  Usted ha sido aceptado como BENEFICIARIO del Programa PETEIHA TRABAJO. 
</p>

<p>
  En el siguiente link <%= link_to carta_beneficiario_url(@application), carta_beneficiario_url(@application) %> usted podrá acceder a su carta de aceptación, para imprimirla si así lo prefiere.
</p>

<p>Gracias por su tiempo</p>
