<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Primer Empleo Corrientes</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li <%= class_active_if_controller("dashboard") %>>
          <a href="/">Dashboard <span class="sr-only">(current)</span></a>
        </li>
        <li <%= class_active_if_controller("applicants") %>>
          <%= link_to "Postulantes", applicants_path %>
        </li>
        <li <%= class_active_if_controller("organizations") %>>
          <%= link_to "Empresas", organizations_path %>
        </li>
        <li <%= class_active_if_controller("applications") %>>
          <%= link_to "Postulaciones", applications_path %>
        </li>
        <li <%= class_active_if_controller("draws") %>>
          <%= link_to "Sorteos", draws_path %>
        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to("logout", destroy_user_session_path, method: :delete) %>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>