<!-- add navigation links to this file -->
<li <%= class_active_if_controller("dashboard") %>>
  <%= link_to 'Inicio',  root_path %>
</li>
<% if user_signed_in? %>
  <li class="dropdown <%= class_active_if_controller("applicants") %>">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="fa fa-user"></span> Postulantes <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><%= link_to ' Nuevo Postulante', new_applicant_path, class: 'fa fa-user' %></li>
      <li class="divider"></li>
      <li><%= link_to ' Listado Postulantes', applicants_path, class: 'fa fa-list' %></li>

    </ul>
  </li>
  <li class="dropdown <%= class_active_if_controller("organizations") %>"><a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="fa fa-building-o">
    </span> Empresas<span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><%= link_to ' Nueva Empresa', new_organization_path, class: 'fa fa-building-o' %></li>
        <li class="divider"></li>
        <li><%= link_to ' Listado Empresas',organizations_path, class: "fa fa-list" %></li>
    </ul>
  </li>
  <li class="dropdown <%= class_active_if_controller("applications") %>"><a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="fa fa-inbox"></span> Postulaciones <span class="caret"></span></a>
      <ul class="dropdown-menu"> 
        <li><%= link_to ' Nueva Postulación Completa', full_application_applications_path, class: 'fa fa-id-card-o' %></li>
        <li><%= link_to ' Nueva Postulación', new_application_path, class: 'fa fa-inbox' %></li>
        <li class="divider"></li>
        <li><%= link_to ' Listado Postulaciones',applications_path, class: "fa fa-list" %></li>
      </ul>
  </li>
  <li class="dropdown <%= class_active_if_controller("convocations") %>" >
    <%= link_to " Convocatorias", convocations_path, class: 'fa fa-flag-checkered ' %>
  </li>
<% end %>

