<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Peteíha Trabajo" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Peteíha Trabajo" %>">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%= favicon_link_tag 'LogoPT.ico' %>
    <% if user_signed_in? %>
      <%= render 'layouts/navigation' %>
    <% end %>
 </header>
  <main role="main">
     <%= render 'layouts/messages' %>
     <div class="container">
      <%= yield %>
     </div>
    <div class="container">
      <br>
      <hr>
      <br>
    </div> 
  </main>
 
  <!-- Pie --> 
  <footer class="footer">
    <div class="container">
      <ul class="nav navbar-nav pull-left">
         <li><a href="/" class="fa fa-cogs"> Peteíha Trabajo Admin - <time datetime="2017-01-09">2017</time></a></li>
         <li><%= link_to ' Facebook', "https://web.facebook.com/peteihatrabajo/", class: "fa fa-facebook-official", target: "_blank" %></li>
         <li><%= link_to ' Contacto',  "mailto:peteihatrabajo@empleo.corrientes.gov.ar", class: "fa fa-envelope-o", target: "_blank" %></li>
      </ul>
    </div>
  </footer>
</body>
</html>
